html{
    scroll-behavior: smooth;
}

header{
    height: 70vh;
    background-image: url('Images/term-back\ \(2\).jpg');
    background-position: center;
    background-size: cover;
    margin: 0;
    
}
.top{
    position: sticky;
    top: 20px;
}
/* nav{
    height: 70px;
}
body ul{
    position: relative;

}
body ul li{
    position: relative;
    top: 100%;
    
}
body ul ul{
    position: absolute;
    top: 100%;
    

}

body ul ul li{
    border-radius: 10px;
    margin: 2px;
    background-color: #a7a7a7;
    width: 120%;
}
body ul ul ul{
    position: absolute;
    left: 100%;
    top: 0px;
}
body ul ul ul li{
    border-radius: 10px;
    margin: 2px;
    background-color: #a7a7a7;
    width: 180%;
}



nav > li > ul{
    position: relative;
    left: 100%;
    top: 0;
}
nav ul > li > a{
    height: 50px;
    display: block;

    line-height: 50px;
}
nav > ul{
    margin-right: 100px;
}

#Services{
    padding-right: 21px;
    padding-left:21px ;
}
li > ul{
    
    position: relative;
    top: 0px;
    padding-left: 0;
    
}
ul ul{
    background-color: rgb(212, 211, 211);
 display: none;
 
 

}
ul li:hover > ul{
    display: block; */
    /* background-color: rgb(212, 211, 211); */
/* }
.li--link,.li--link:hover{
    color: #484906c2;
    /* color: white; 
}


.li-sub-link,.li-sub-link:hover{
    
    /* color: rgb(255, 255, 255); 
    color: #484906c2;
}



ul li a:hover > i{
    color: #484906c2;
    /* color: whitesmoke; 
    font-weight: bolder;
} */

.row{
    width: 99%;

}

.pre{
    font-size: 20px;
    padding: 2px 2px;
}
li span{
    font-size: 20px;
    color: rgb(56, 56, 56);
}
.main-h{
    color: #00695C;
}
.sub-h{
    color: #00695C;
}
.options{
    display: none;
    border: 1px solid rgb(61, 60, 60);
    border-radius: 5px;
padding: 2px;
}
.options-div{
    /* line-height: 100px; */
    vertical-align:middle;
    float: right;
    padding: 20px 5px;
    
}
.options-div:hover{
    cursor: pointer;

}

.main-footer{

    height: 30vh;
    width: 100%;
    background-color: #F1F8E9;
}
.CopyRight{
    background-color: #BDBDBD;
    width: 100%;
}
.useful{
    width: 50%;
    margin-left: 10px;
    padding: 4px 0px;
}
.buy{
    color: gray;
    width: 50%;
    margin-left: 10px;
}
.buy:hover{
    color: gray;
}


@media(max-width:700px)
{
   
}
@media(max-width:1137px){
   
    .options{
        display: block;
        
        
    }

    nav > ul li a{

        display: none;
    }
    
    nav{
        padding: 0;
    }

}